{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% block head_extends %}
<style>
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th {
	color:#768d99;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {

	 background-color: #e8f5ff;
}
</style>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet" />
<script src="{% static 'js/bootstrap-table.js' %}"></script>
<link href="{% static 'css/all.css' %}" rel="stylesheet" />

{% endblock %}

<div class="main-body" style="min-hight:1600px">
    <div class="content">
        <section class="sub-header" style="display:none;">
            <section class="mobSecNav">
                <img id="subNavlogo" src="{% static 'img/mnav2.png'%}" style="padding-bottom:6px;"></section>
            <section class="mobSecNavMenu">
                <ul>
                    <li><a href="news.html">最新动态</a></li>
                </ul>
            </section>
            <section class="secNav">
                <ul>
                    <li class="cur"><a href="news.html">最新动态</a></li>
                </ul>
            </section>
        </section>


        <div class="col_lg_12">
            <div class="mainContent">
                <div class="introTit clearfix">
                    <h2>运行状态</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h3>集群总体CPU使用率</h3>
                <div id="CPU"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>集群总体历史CPU使用率</h3>

                <div class="mx-auto" id="CPU_history_button">
                    <button value="2days" type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近2日</button>
                    <button value="7days"  type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近7日</button>
                    <button value="30days"  type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近1个月</button>
                    <button value="2month"  type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近2个月</button>
                    <button value="6month"  type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近6个月</button>
                    <button value="12month"  type="button" class="btn btn-outline-info" onclick="get_cpu_history(this)">近1年</button>
                </div>

                <div id="CPU_history"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>集群总体内存使用率</h3>
                <div id="Memory"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>集群总体历史内存使用率</h3>
                <div class="mx-auto" id="Memory_history_button">
                    <button value="2days" type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近2日</button>
                    <button value="7days"  type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近7日</button>
                    <button value="30days"  type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近1个月</button>
                    <button value="2month"  type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近2个月</button>
                    <button value="6month"  type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近6个月</button>
                    <button value="12month"  type="button" class="btn btn-outline-info" onclick="get_memory_history(this)">近1年</button>
                </div>
                <div id="Memory_history"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>分组CPU使用率</h3>
                <div id="group_cpu"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>分组内存使用率</h3>
                <div id="group_memory"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>存储使用率</h3>
                <div id="storage1">
                    <table class="table table-sm table-striped table-bordered table-hover">
                        <thead class="">
                        <tr>
                            <th scope="col">用户名</th>
                            <th scope="col">用户ID</th>
                            <th scope="col">已用容量</th>
                            <th scope="col">可用容量</th>
                            <th scope="col">空间使用率(%)</th>
                            <th scope="col">已用目录及文件总数</th>
                            <th scope="col">容量软阈值</th>
                            <th scope="col">容量硬阈值</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>存储使用率</h3>
                <select name="main_id" id="main_id" class="text input-large form-control"></select>
                <div id="storage"></div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h3>队列占用节点数</h3>
                <div class="mx-auto" id="queue_button">
                    <button value="2days" type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近2日</button>
                    <button value="7days"  type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近7日</button>
                    <button value="30days"  type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近1个月</button>
                    <button value="2month"  type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近2个月</button>
                    <button value="6month"  type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近6个月</button>
                    <button value="12month"  type="button" class="btn btn-outline-info" onclick="get_queue_alloc(this)">近1年</button>
                </div>
                <div id="queue"></div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-12">
                <h3>队列信息</h3>
<!--show detail start -->

                <div class="table-demo text-left">
                    <table id="table" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter" style="word-break:break-all; word-wrap:break-all;"></table>
                </div>

<!--show detail end -->
            </div>

        </div>
        <hr>

        <div class="clearfix"></div>
    </div>
</div>



{% endblock %}

{% block script_extends %}


<script src="{% static 'js/highstock.js'%}"></script>
<script type="text/javascript">
     Highcharts.setOptions({ global: { useUTC: false } });
</script>
<script type="text/javascript">

    var columns = [{
       field:"PartitionName",
      title: '队列名称'
    }, {
        field: 'AllowGroups',
        title: '可访问组'
    },
    {
        field: 'TotalCPUs',
        title: '可访问核心数'
    },
    {
        field: 'TotalNodes',
        title: '可访问节点数'
    },
    {
        field: 'State',
        title: '状态'
    },
    ];


    $('#table').bootstrapTable({
        columns: columns,
        data: [{{ queue|safe }}],
    });

function detailFormatter(index, row) {
var html = []
$.each(row, function (key, value) {
  html.push('<p><b>' + key + ':</b> ' + value + '</p>')
});
return html.join('')
}
</script>
<script src="{% static 'ajax/cpu.js'%}"></script>
<script src="{% static 'ajax/memory.js'%}"></script>
<script src="{% static 'ajax/group_cpu.js'%}"></script>
<script src="{% static 'ajax/group_memory.js'%}"></script>
<script src="{% static 'ajax/storage.js'%}"></script>
<script src="{% static 'ajax/storage_table.js'%}"></script>
<script src="{% static 'ajax/cpu_history.js'%}"></script>
<script src="{% static 'ajax/memory_history.js'%}"></script>
<script src="{% static 'ajax/queue_alloc.js'%}"></script>



<script>
function timeDown(limit) {
   if (limit == 60) {
   get_cpu();
   get_memory();
   get_group_memory();
   get_group_cpu();
   get_storage_table()
   }
   limit--;

   if (limit < 0) {
       limit = 60;
   }

   setTimeout(function() {
       timeDown(limit);
   }, 1000)
}



$(document).ready(function() {
   timeDown(60);
   default_cpu_history();
   default_memory_history();
   default_queue_alloc();
    })




</script>
{% endblock %}